<div class="questionapp">

	<section id="question_builder">
		<header class="question_header">
			<h1>New Question</h1>
			<textarea class="new_question" placeholder="What would you like to know?" cols="75" rows="1" autofocus></textarea>
			<button>Formulate</button>
		</header>
			<section class="formulated_question">
			</section>
			<footer> </footer>
	</section>


	<section id="tag_builder" class="hidden">
		<header class="tag_header">
			<h2>Tags</h2>
			<input class="new_tag" placeholder="Any Tags?" autofocus>
		</header>
		<section class="tags_main">
			<ul class="tag_list"></ul>
		</section>
		<footer></footer>
	</section>
</div>

  <script type="text/template" id="question_template">
    <div class="question_view">
    <label>{{title}}</label>
		<textarea class="new_content" placeholder="Details?" cols="75" rows="5" autofocus></textarea>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="{{title}}">
  </script>

    <script type="text/template" id="tag_template">
    <div class="tag_view">
      <label>{{name}}</label>
      <button class="destroy"></button>
    </div>
    <input class="edit" value="{{name}}">
  </script>
