<section id="question_builder">
<header class="question_header">
	<h1>New Question</h1>
	<input class="new_question" placeholder="What would you like to know?">
</header>
</section>
<section id="tag_builder">
	<header></header>
</section>
