/* BODY */

body {
  font-family: 'Raleway';
  font-size: 18px;
}

/* HEADERS */

h1 {
  font-size: 1.8em;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* FONT SIZES */

.x-small {
  font-size: .75em;
}

.small {
  font-size: 0.9em;
}
.medium {
  font-size: ;

}
.large {
  font-size: 1.05em;
}
.x-large {
  font-size: 1.1em;
}

/*BUTTON AND LISTS */

button.primary {}
button.secondary {}

ul {}
ol {}
li {}

dl {}
dt {}
dd {}

/* LINKS */

a.primary {}
a.secondary {}

/* TABLES */

table {}
th {}
tr {}
td {}

/* GRID */

.wide-1 {
  display: inline-block;
  width: 20%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.wide-1::before {
  content: "hello";
}

.wide-2 {
  display: inline-block;
  width: 44.5%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.wide-2::before {
  content: "hello";
}

.third-1 {
  display: inline-block;
  width: 28.2%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.third-1::before {
  content: "hello";
}

.third-2 {
  display: inline-block;
  width: 61.2%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.third-2::before {
  content: "hello";
}
