/* BODY */

body {
  font-family: 'Raleway';
  font-size: 16px;
}

/* HEADERS */

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* FONT SIZES */

.small {}
.medium {}
.large {}
.x-large {}

/*BUTTON AND LISTS */

button.primary {}
button.secondary {}

ul {}
ol {}
li {}

dl {}
dt {}
dd {}

/* LINKS */

a.primary {}
a.secondary {}

/* TABLES */

table {}
th {}
tr {}
td {}

/* GRID */

.wide-1 {
  display: inline-block;
  width: 20%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.wide-1::before {
  content: "hello";
}

.wide-2 {
  display: inline-block;
  width: 44.5%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.wide-2::before {
  content: "hello";
}

.third-1 {
  display: inline-block;
  width: 28.2%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.third-1::before {
  content: "hello";
}

.third-2 {
  display: inline-block;
  width: 61.2%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.third-2::before {
  content: "hello";
}
