/* BODY */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* HEADERS */

h1 {
  font-size: 1.4em;
  }

/*BUTTON AND LISTS */

button {
  outline: none;
  display: inline-block;
  border: none;
  padding: .5em;
  margin: 0;
  color: white;
  font-size: 1em;
   box-shadow: 2px 2px 1px grey;
   cursor: pointer;
}

button.primary:hover {
  color: #FFC470;
  box-shadow: 1px 1px 2px #1DB078;
}

button.secondary {
  display: inline-block;
  border: none;
  padding: .5em;
  margin: 1em;
  background: #69EEBC;
  color: white;
  font-size: 1em;
  /* box-shadow: 2px 2px 1px #1DB078; */
}
button.secondary:hover {
  color: #FFC470;
  box-shadow: 1px 1px 2px #69EEBC;
}

ul {}

ol {}

li {
  list-style: none;
}

dl {}
dt {
  text-decoration:underline;
}
dd {
  font-style:italic;
}

/* LINKS */
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a.primary {
  color: #236CAE;
}
a.secondary {
  color: #72B2EC;
}

/* TABLES */

table {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1% auto;
}

td {
  margin: 0;
}

/* GRID */

.wide-1 {
  display: inline-block;
  width: 20%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.wide-1::before {
  content: "hello";
}

.wide-2 {
  display: inline-block;
  width: 44.5%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.wide-2::before {
  content: "hello";
}

.third-1 {
  display: inline-block;
  width: 28.2%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.third-1::before {
  content: "hello";
}

.third-2 {
  display: inline-block;
  width: 61.2%;
  padding: 1%;
  margin: 1% 1% 1%;
  border: 1px solid black;
}

.third-2::before {
  content: "hello";
}
