/*NEW*/
.questionapp {
margin: 0 5%;
position:relative;
}

.questionapp textarea::-webkit-textarea-placeholder {
  font-style: italic;
}

.questionapp textarea::-moz-placeholder {
  font-style: italic;
  color: #a9a9a9;
}

.new_question, .new_content, .new_tag {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.4em;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 2px solid #999;
  border-radius: 4px;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.form_holder {
position: relative;
}

.question_form input[type=submit] {
	display: inline-block;
}

/*Index*/

.questions_container{
	margin-left: 5%;
}
.questions_container h1 {
  padding: 20px 10px;
  margin-left: 0;
}

.question_table {
  border: 0;
  margin:1% 0;
  width:90%;
}

.question_row {
  border-bottom: 1px solid teal;
  border-left: 4px solid teal;
  background-color: snow;
  background-image: linear-gradient(
    to top right,
    snow, white);

}
.question_break{
  height:10px;
}


.holder {
  display: inline-block;
  margin:1px;
  width: 50px;
}

.question_totals {
  font-size: .9em;
  display: block;
  text-align: center;
}

.question_info_text {
  font-size: .625em;
  display: block;
  text-align: center;
}


.question_link{
  color: maroon;
  font-size: .9em;
}

.question_holder {
	border-top: 2px solid black;
	/*background-color: gainsboro;*/
}

.question_content {
	top: 0px;
	display: inline-block;
	padding-top: 10px;
	width: 75%;
}

.question_details_holder {
	vertical-align: top;
/*	background-color: lightyellow;*/
	display: inline-block;
	width:150px;
}

.user_specs{
height: 200px;
/*background-color: lightblue;*/
font-size: .75em;
}

.comment_response_form {
	display: none;
}

