.zero {
  color:grey;
}

.positive {
  color:black;
}

.negative {
  color:red;
}
.vote_box {
  display: inline-block;
  position: relative;
}

.vote_box div {
  display: inline-block;
}

.vote_box .vote_holder {
  display: none;
}

.likes .likes {
  display: inline;
}

.dislikes .dislikes {
  display: inline;
}

.unvoted .unvoted {
  display: inline;
}

.vote_holder {
  position: relative;
  font-size: 1.25em;
  text-align: center;
}

.voter {
  border-radius: 10%;
  padding:4px;
  font-size: 1.25em;
  font-weight: 900;
}

.up:hover {
  background-color: olivedrab;
}

.down:hover{
  background-color: rosybrown;
}

.up.selected {
  background-color: olivedrab;
}
.down.selected {
  background-color: rosybrown;
}

.notice {
  font-size: .825em;
  display: none;
  background-color: salmon;
  color: white;
  padding: 5px;
  border-radius: 10%;
}
