<nav>
	<% unless session[:user_id].nil? %>
		<%= link_to "Logout", new_auth_path %>
	<% else %>
		<%= link_to 'Log In with GitHub', users_sign_in_path %>
	<% end %>
	<br>
	<br>
				<div class="main_bar">
            <div class="logo">
                <a href="/">
                    Steak Overcooked
                </a>
            </div>
            <div id="menus">
                <div class="nav mainnavs">
                    <ul>
                        <li><a href="/questions">Questions</a></li>
                        <li><a href="/tags">Tags</a></li>
                        <li><a href="/users">Users</a></li>
                       <!--  <li><a href="/questions">
                        Unanswered</a></li> -->
                        <li>
                       <a id="nav-askquestion" href="/questions/new">Ask Question</a>
                       </li>
                    </ul>
                </div>

            </div>
        </div>
</nav>
