<nav class="main_header">
  <div class="main_bar">
    <div class="logo">
      <a href="/">Steak Overcooked</a>
    </div>
    <div id="menus">
      <div class="nav mainnavs">
        <ul>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/tags">Tags</a></li>
          <li><a href="/users">Users</a></li>
          <li><a id="nav-askquestion" href="/questions/new">Ask Question</a></li>
        </ul>
      </div>
  </div>
  <div class="user_login">
    <% if session[:user_id] %>
    <ul>
      <li><a href="/signout">Sign Out</a></li>
    </ul>
    <% else %>
    <ul>
      <li><a href="/signin">Sign In</a></li>
      <li><a href="/signup">Sign Up</a></li>
    </ul>
    <% end %>
    </div>
  </div>
</nav>
