
</table>
<tr class="question_row">
<td class="holder question_votes"></td>
<td class="holder question_answers"></td>
<td class="question_index_content"></td>
<td class="question_index_tags"></td>
</tr>