<table>
	<tbody>
		<tr class="question_row">
			<td class="holder question_votes">
				<span class="total_x_text">4</span>
				<span class="question_info_text">votes</span>
			</td>
			<td class="holder question_answers">
				<span class="total_x_text">1</span>
				<span class="question_info_text">answers</span>
			</td>
			<td class="question_index_content">
				<a class="question_link" href=""><span>Where can I find the best burger in NYC?</span></a>
			</td>
			<td class="question_index_tags">
				<div class="tag">Beef</div>
				<div class="tag">NYC</div>
			</td>
		</tr>
	</tbody>
</table>