<!DOCTYPE html>
<html>
<head>
  <title>FoodOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="../../../style_guide.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<% unless session[:user_id].nil? %>
		<a href="/users/logout">Logout</a>
	<% else %>
		<a href="/users/sign_in"><i class="fa fa-github"></i> Log In with GitHub</a>
	<% end %>
</nav>
<%= yield %>

</body>
</html>
